<div class="phrase">
  <span editable-resource-attribute="text"
        editable-resource-model="<%=phrase.class.model_name.downcase%>"
        editable-resource-uri="<%=url_for(phrase)%>"
        class="text">
    <%= phrase.text %>
  </span>
</div>
